
* {
    box-sizing: border-box;
    font-family: @font-main;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    margin: 0;
    padding: 0;
    position: relative;

    .modal-open {
        @media (max-width: 1024px) {
            overflow: hidden;
        }
    }
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}

a {
    text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

input {
    outline: none;
    border: 1px solid #d1d1d1;
}

button {
    .button-clean-styles();
}

.fixed-container {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    .calcContainerWidth(@container-width, @container-padding);

    @media (max-width: @small-bp) {
        padding: 0 @container-mobile-padding;
    }
}
