@font-main: Roboto, Arial, sans-serif;

@container-width: 1170px;
@container-padding: 30px;

@true-black: #000000;
@middle-black: #1F1F24;
@lighter-black: #262626;
@light-gray: #8993AD;
@white: #FFFFFF;
@light-pink: #F53F4F;
@pink: #F82370;


@header-bgc: #FBFBFB;
@intro-bgc: @header-bgc;
@proj-section-bgc: @header-bgc;
@footer-copyright-bgc: #31293C;


@link-hovered: #FC557C;
@main-button-bgc: #FF4E2E;
@main-button-txt-color: @white;
@slider-link-font-color: #8993AD;

@banner-flying-tags-bgc: @white;
@intro-flying-tags-background: linear-gradient(to top, #F26522 0%, #FA0891 99%, #FA0891 100%);
@flying-tags-txt-color: @white;
@footer-icons-txt-color: @intro-flying-tags-background;
@footer-icons-default-color: @flying-tags-txt-color;

@banner-background: linear-gradient(13deg, #FF8F5A 0%, #FF2F96 99%, #FF2F96 100%);

