.footer {

  padding: 83px 0 0;

  &__container {
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: @medium-bp) {
      align-content: center;
    }

    @media (max-width: @small-bp) {
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: flex-start;
      align-content: flex-start;
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
  }

  &__address {
    margin-left: 7.8%;
    display: flex;
    flex-direction: column;

    @media (max-width: @medium-bp) {
      margin-left: 5.8%;
    }

    @media (max-width: @small-bp) {
      margin: 45px 0 0;
    }
  }

  &__feedback {
    margin: -6px 22px 0 0;

    @media (max-width: @medium-bp) {
      margin: -6px 0 0;
    }

    @media (max-width: 669px) {
      margin: 23px 0 0;
    }
  }

  &__menu {
    .menu__list {
      flex-direction: column;
    }

    .menu__item {
      padding: 0;
      margin: 0;

      &:not(:last-child) {
        margin: 0 0 13px;
        @media (max-width: 800px) {
          margin: 0 0 14px;
        }
      }
    }

    .menu__link {
      font-size: 18px;
      font-weight: 400;

      @media (max-width: 800px) {
        font-size: 15px;
      }
    }
  }

  &__contact {
    font-size: 25px;
    font-weight: 400;
    color: @true-black;
    transition: color .15s;

    &:hover,
    &:focus {
      color: @link-hovered;
    }

    &:not(:last-child) {
      margin-bottom: 31px;

      @media (max-width: 800px) {
        margin-bottom: 24px;
      }
    }

    & > i {
      margin-right: 10px;
      .fontGradient(@footer-icons-txt-color, @footer-icons-default-color);

      @media (max-width: @small-bp) {
        font-size: 18px;
        margin-right: 14px;
      }
    }

    @media (max-width: 800px) {
      font-size: 20px;
    }

  }

  &__mail {

  }

  &__socials {
    margin: 38px 0 0;

    @media (max-width: @small-bp) {
      margin: 57px 0 0;
    }
  }

  &__order-button {
    width: 248px;
    height: 45px;

    @media (max-width: 560px) {
      width: 280px;
      height: 55px;
      margin-top: 1px;
    }
  }

  @media (max-width: @medium-bp) {
    padding: 105px 0 0;
  }

  @media (max-width: @small-bp) {
    padding: 46px 0 0;
  }
}

.icon-phone:before {
  content: "\e800";
}

.icon-mail:before {
  content: "\e802";
}

.socials {
  display: flex;

  &__item {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__icon {
    display: block;
    transition: transform .3s;

    &:hover,
    &:focus {
      transform: scale(1.2)
    }

    &--vk {
      .sprite(@vk)
    }

    &--fb {
      margin-top: -7px;
      .sprite(@facebook)
    }

    &--tw {
      margin-top: -3px;
      .sprite(@twitter)
    }

    &--insta {
      margin-top: -3px;
      .sprite(@instagram)
    }
  }
}

.copyright {
  width: 100%;
  margin-top: 80px;
  padding: 31px 0;
  color: @white;
  background-color: @footer-copyright-bgc;
  text-align: center;


  @media (max-width: @small-bp) {
    font-size: 12px;
    padding: 18px 0;
  }
  @media (max-width: @small-bp) {
    margin-top: 50px;
  }
}


