.header {
    padding: 30px 0 0;
    background-color: @header-bgc;

    .fixed-container {
        justify-content: space-between;
        align-items: center;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 32px;
        }
    }

    @media (max-width: @small-bp) {
        padding: 26px 0 0;
    }
}

.burger-btn {
    @first-line-gradient: linear-gradient(13deg, #FF4886 3%, #FF2F96 100%);
    @second-line-gradient: linear-gradient(13deg, #FF756A 20%, #FF428A 100%);
    @third-line-gradient: linear-gradient(13deg, #FF8F5A 3%, #FF726C 100%);

    position: relative;
    width: 45px;
    height: 32px;
    padding: 0;
    cursor: pointer;

    &__lines, &__lines::before, &__lines::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 5px;
        transition: all .15s;

        @media (max-width: @small-bp) {
            height: 2px;
        }
    }

    &__lines {
        background: @first-line-gradient;

        &:after {
            content: "";
            top: 26px;
            left: 0;
            background: @third-line-gradient;
        }

        &:before {
            content: "";
            top: 13px;
            left: 0;
            background: @second-line-gradient;
        }

        @media (max-width: @small-bp) {
            &:after {
                top: 16px;
            }

            &:before {
                top: 8px;
            }
        }
    }

    @media (max-width: @small-bp) {
        width: 24px;
        height: 18px;
    }

    &--opened &__lines {
        height: 0;

        &:after {
            top: 13px;
            transform: rotate(45deg);

            @media (max-width: @small-bp){
                top: 8px
            }
        }

        &:before {
            transform: rotate(-45deg);
        }
    }
}

.header-nav {
    position: relative;

    &__burger-btn {
        display: none;

        @media (max-width: @medium-bp) {
            display: flex;
            flex-direction: column;
        }
    }

    .menu {

        @media (max-width: @medium-bp) {
            display: none;
            position: absolute;
            top: 40px;
            left: 0;
            flex-direction: column;
            min-width: 280px;
            max-width: 320px;
            z-index: 99;
            background-color: #F5F5F5;
            box-shadow: 0 0 10px 0px #0002;


            &__item {
                margin: 10px 0;
                padding: 5px 20px;
            }

            &--opened {
                display: flex;
            }
        }
    }
}

.menu {
    display: flex;

    &__link {
        font-size: 16px;
        font-weight: 400;
        color: @middle-black;

        &:hover {
            transition: color 0.15s;
            color: @link-hovered;
            padding-bottom: 1px;
            border-bottom: 1px solid @link-hovered;
        }
    }
}

.right-col {
    &__phone {
        margin-right: 22px;

        @media (max-width: @small-bp) {
            margin-right: 0;
        }
    }
}

.phone {
    font-size: 25px;
    font-weight: 700;
    color: @middle-black;

    @media (max-width: @small-bp) {
        font-size: 18px;
    }
}


.order-button {
    //------@width @height @fc         @bgc  ------//
    .button(207px, 45px, @light-pink, @pink);

    &:hover {
        transition: all 0.15s;
        background-color: @pink;
        color: #FFFFFF;
    }

    @media (max-width: @small-bp) {
        display: none;
    }
}

.wrap-phone-btn {
    display: none;
    position: relative;
    background: @border-gradient-color;
    border-radius: 50%;
    border: 1px solid transparent;
    @media (max-width: @small-bp) {
        display: block;
    }
}

.phone-btn {
    width: 25px;
    height: 25px;
    cursor: pointer;
    padding: 0;
    background-color: @header-bgc;
    border-radius: 50%;
}



