.photo-wrapper {
  position: absolute;
  overflow: hidden;
  max-width: 1920px;
  height: 100%;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: @intro-bgc url(../img/background/bg.svg) no-repeat bottom -135px right -106px;
  background-size: 920px 765px;
  transition: all 0.5s;

  @media (min-width: 1921px) {
    background-position-x: 100%;
  }

  @media (max-width: 1500px) {
    background-position: bottom -105px right -375px;
  }

  @media (max-width: 1024px) {
    background-size: 922px 630px;
  }

  @media (max-width: 860px) {
    background-size: 485px 409px;
    background-position: bottom -115px right -99px;
  }

  @media (max-width: 560px) {
    position: relative;
    padding: 68px 0 9px 57px;
    text-align: center;
  }
}

.photo {
  position: absolute;
  right: 294px;
  bottom: -14px;
  transition: all 0.5s;

  @media (max-width: 1500px) {
    right: 38px;
  }

  @media (max-width: 860px) {
    width: 224px;
  }
  @media (max-width: 560px) {
    position: relative;
    right: 0;
  }
}

.intro {
  display: flex;
  position: relative;
  overflow: hidden;
  width: 100%;
  background: @intro-bgc;

  &__content {
    position: relative;
    z-index: 10;
    padding: 212px 0 237px;

    @media (max-width: 1100px) {
      padding: 238px 0 229px;
    }

    @media (max-width: 860px) {
      padding: 170px 0 55px;
    }

    @media (max-width: 560px) {
      padding: 14px 0 0;
      text-align: center;
    }
  }

  &__wrapper {
    position: relative;
    @media (max-width: 560px) {
      justify-content: center;
      background-color: @white;
    }
  }

  &__initials {
    font-size: 80px;
    font-weight: 900;

    @media (max-width: 1100px) {
      font-size: 54px;
    }

    @media (max-width: 960px) {
      font-size: 46px;
    }

    @media (max-width: 860px) {
      font-size: 36px;
    }

    @media (max-width: 600px) {
      font-size: 30px;
    }
  }

  &__profession {
    font-size: 25px;
    font-weight: 400;
    color: @light-gray;
    margin-top: 17px;

    @media (max-width: 1100px) {
      margin-top: 22px;
    }

    @media (max-width: 960px) {
      font-size: 18px;
    }

    @media (max-width: 860px) {
      font-size: 16px;
      line-height: 24px;
    }

    @media (max-width: 560px) {
      margin-top: 8px;
    }
  }

  &__button-more {
    font-size: 18px;
    margin-top: 47px;
    width: 270px;
    height: 60px;

    @media (max-width: @medium-bp) {
      width: 320px;
      height: 68px;
    }

    @media (max-width: 560px) {
      margin-top: 23px;
      font-size: 16px;
      width: 280px;
      height: 55px;
    }
  }

  &__elements {
    @startX: 30%;
    @startY: 50%;

    .elements__item--div1 {
      animation-name: header-div1;
      @media (max-width: 1024px) {
        font-size: 28px;
      }
      @media (max-width: 560px) {
        font-size: 14px;
      }
    }

    .elements__item--div2 {
      animation-name: header-div2;
      @media (max-width: 1024px) {
        font-size: 37px;
      }
      @media (max-width: 560px) {
        display: none;
      }
    }

    .elements__item--grate {
      animation-name: header-grate;
      @media (max-width: 560px) {
        font-size: 26px;
      }
    }

    .elements__item--slash1 {
      animation-name: header-slash1;
      @media (max-width: 1024px) {
        font-size: 46px;
      }

      @media (max-width: 560px) {
        font-size: 18px;
      }
    }

    .elements__item--slash2 {
      display: none;
      animation-name: header-slash2;
      @media (max-width: 1024px) {
        display: block;
        font-size: 40px;
      }

      @media (max-width: 560px) {
        display: none;
      }
    }

    .elements__item--brackets {
      animation-name: header-brackets;
      @media (max-width: 560px) {
        font-size: 25px;
      }
    }

    @keyframes header-div1 {
      from {
        top: @startY;
        left: @startX
      }
      to {
        top: 13%;
        left: 41%;
        transform: rotate(-15deg);
      }
    }
    @keyframes header-div2 {
      0% {
        top: @startY;
        left: @startX
      }
      25% {
        transform: rotate(90deg);
      }
      50% {
        transform: rotate(180deg);
      }
      75% {
        transform: rotate(270deg);
      }
      100% {
        top: 67.3%;
        left: 49.6%;
        transform: rotate(380deg);
      }
    }
    @keyframes header-brackets {
      from {
        top: @startY;
        left: @startX;
      }
      to {
        top: 8.58%;
        left: 6.8%;
        transform: rotate(30deg);
      }
    }
    @keyframes header-slash1 {
      from {
        top: @startY;
        left: @startX
      }
      to {
        top: 85.5%;
        left: 19.3%;
        transform: rotate(-23deg);
      }
    }
    @keyframes header-slash2 {
      from {
        top: @startY;
        left: @startX
      }
      to {
        top: 85.5%;
        left: 19.3%;
        transform: rotate(-23deg);
      }
    }
    @keyframes header-grate {
      from {
        top: @startY;
        left: @startX
      }
      to {
        top: 41.7%;
        left: 12.7%;
        transform: rotate(17deg);
      }
    }

    @media (max-width: 1024px) {
      @startY: 30%;
      @startX: 50%;

      @keyframes header-brackets {
        from {
          top: @startY;
          left: @startX;
        }
        to {
          top: 11.7%;
          left: 7.5%;
          transform: rotate(30deg);
        }
      }

      @keyframes header-grate {
        from {
          top: @startY;
          left: @startX
        }
        to {
          top: 80%;
          left: 5.7%;
          transform: rotate(17deg);
        }
      }

      @keyframes header-slash2 {
        from {
          top: @startY;
          left: @startX
        }
        to {
          top: 72.9%;
          left: 35.1%;
          transform: rotate(-23deg);
        }
      }

      @keyframes header-slash1 {
        from {
          top: @startY;
          left: @startX
        }
        to {
          top: 22.6%;
          left: 41.1%;
          transform: rotate(15deg);
        }
      }

      @keyframes header-div1 {
        from {
          top: @startY;
          left: @startX
        }
        to {
          top: 10.8%;
          left: 86.8%;
          transform: rotate(-15deg);
        }
      }

      @keyframes header-div2 {
        from {
          top: @startY;
          left: @startX
        }
        to {
          top: 67.8%;
          left: 84.8%;
          transform: rotate(19deg);
        }
      }
    }
    @media (max-width: 560px) {
      @startY: 30%;
      @startX: 50%;

      @keyframes header-brackets {
        from {
          top: @startY;
          left: @startX;
        }
        to {
          top: 8.1%;
          left: 15.4%;
          transform: rotate(30deg);
        }
      }
      @keyframes header-grate {
        from {
          top: @startY;
          left: @startX
        }
        to {
          top: 25.85%;
          left: 11.7%;
          transform: rotate(17deg);
        }
      }
      @keyframes header-slash1 {
        from {
          top: @startY;
          left: @startX
        }
        to {
          top: 4.9%;
          left: 54.2%;
          transform: rotate(-32deg);
        }
      }
      @keyframes header-div1 {
        from {
          top: @startY;
          left: @startX
        }
        to {
          top: 15.9%;
          left: 76.8%;
          transform: rotate(18deg);
        }
      }
    }
  }

  @media (max-width: 560px) {
    flex-direction: column-reverse;
  }
}
