.intro {
    display: flex;
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 456px 0 237px;
    background-image: url("../img/background/bg.svg");
    background-position: bottom -135px right -110px;
    background-size: 924px 764px;
    background-repeat: no-repeat;
    background-color: @intro-bgc;

    &__photo {
        position: absolute;
        right: 15.3%;
        bottom: -2%;


        @media (max-width: 1600px) {
            right: 6%;
        }

        @media (max-width: @medium-bp) {
            right: 3.8%;
        }

        @media (max-width: @small-bp) {
            height: 400px;
        }

        @media (max-width: 320px) {
            height: 341px;
            right: 5%;
        }
    }

    .flying-tag {

        @startX: 30%;
        @startY: 50%;
        @animationStartDelay: 0.15s;

        background-image: @intro-flying-tags-background;

        &--div1 {
            left: @startX;
            top: @startY;
            font-size: 30px;
            animation: 1s ease-out @animationStartDelay forwards header-div1;

            @media (max-width: @small-bp) {
                font-size: 15px;
            }
        }

        &--div2 {
            left: @startX;
            top: @startY;
            font-size: 35px;
            animation: 1s ease-out @animationStartDelay forwards header-div2;

            @media (max-width: @small-bp) {
                display: none;
            }
        }

        &--brackets {
            font-size: 48px;
            left: @startX;
            top: @startY;
            animation: 1s ease-out @animationStartDelay forwards header-brackets;

            @media (max-width: @small-bp) {
                font-size: 24px;
            }
        }

        &--slash1 {
            font-size: 41px;
            left: @startX;
            top: @startY;
            animation: 1s ease-out @animationStartDelay forwards header-slash1;

            @media (max-width: @medium-bp) {
                font-size: 46px;
            }

            @media (max-width: @small-bp) {
                font-size: 18px;
            }
        }

        &--slash2 {
            display: none;
            font-size: 41px;
            left: @startX;
            top: @startY;
            animation: 1s ease-out @animationStartDelay forwards header-slash2;

            @media (max-width: @medium-bp) {
                display: block;
            }

            @media (max-width: @small-bp) {
                display: none;
            }
        }

        &--grate {
            font-size: 55px;
            left: @startX;
            top: @startY;
            animation: 1s ease-out @animationStartDelay forwards header-grate;

            @media (max-width: @small-bp) {
                font-size: 28px;
            }
        }

        @keyframes header-div1 {
            from {
                top: @startY;
                left: @startX
            }
            to {
                top: 13%;
                left: 41%;
                transform: rotate(-15deg);
            }
        }
        @keyframes header-div2 {
            from {
                top: @startY;
                left: @startX
            }
            to {
                top: 67.3%;
                left: 49.6%;
                transform: rotate(20deg);
            }
        }
        @keyframes header-brackets {
            from {
                top: @startY;
                left: @startX;
            }
            to {
                top: 8.58%;
                left: 6.35%;
                transform: rotate(30deg);
            }
        }
        @keyframes header-slash1 {
            from {
                top: @startY;
                left: @startX
            }
            to {
                top: 85.5%;
                left: 19.3%;
                transform: rotate(-23deg);
            }
        }
        @keyframes header-slash2 {
            from {
                top: @startY;
                left: @startX
            }
            to {
                top: 85.5%;
                left: 19.3%;
                transform: rotate(-23deg);
            }
        }
        @keyframes header-grate {
            from {
                top: @startY;
                left: @startX
            }
            to {
                top: 41.8%;
                left: 12.5%;
                transform: rotate(17deg);
            }
        }
    }

    @media (max-width: @medium-bp) {
        /*padding: 238px 0 229px;*/
        background-position: bottom -104px right -378px;
        background-size: 925px 630px;
        @startY: 30%;
        @startX: 50%;

        @keyframes header-brackets {
            from {
                top: @startY;
                left: @startX;
            }
            to {
                top: 11.7%;
                left: 7.5%;
                transform: rotate(30deg);
            }
        }

        @keyframes header-grate {
            from {
                top: @startY;
                left: @startX
            }
            to {
                top: 80%;
                left: 5.7%;
                transform: rotate(17deg);
            }
        }

        @keyframes header-slash2 {
            from {
                top: @startY;
                left: @startX
            }
            to {
                top: 72.9%;
                left: 35.1%;
                transform: rotate(-23deg);
            }
        }

        @keyframes header-slash1 {
            from {
                top: @startY;
                left: @startX
            }
            to {
                top: 22.6%;
                left: 41.1%;
                transform: rotate(15deg);
            }
        }

        @keyframes header-div1 {
            from {
                top: @startY;
                left: @startX
            }
            to {
                top: 10.8%;
                left: 86.8%;
                transform: rotate(-15deg);
            }
        }

        @keyframes header-div2 {
            from {
                top: @startY;
                left: @startX
            }
            to {
                top: 67.8%;
                left: 84.8%;
                transform: rotate(19deg);
            }
        }
    }

    @media (max-width: @small-bp) {
        padding: 414px 0 0;
        background-position: bottom -104px right -95px;
        background-size: 476px 398px;

        @startY: 30%;
        @startX: 50%;

        @keyframes header-brackets {
            from {
                top: @startY;
                left: @startX;
            }
            to {
                top: 11.7%;
                left: 15.5%;
                transform: rotate(30deg);
            }
        }
        @keyframes header-grate {
            from {
                top: @startY;
                left: @startX
            }
            to {
                top: 36.5%;
                left: 11.7%;
                transform: rotate(17deg);
            }
        }
        @keyframes header-slash1 {
            from {
                top: @startY;
                left: @startX
            }
            to {
                top: 7.2%;
                left: 54.2%;
                transform: rotate(-32deg);
            }
        }
        @keyframes header-div1 {
            from {
                top: @startY;
                left: @startX
            }
            to {
                top: 22.2%;
                left: 76.8%;
                transform: rotate(18deg);
            }
        }
    }
}

.btn-more {

    .button(270px, 60px, @main-button-txt-color, @main-button-bgc, @main-button-bgc);

    &:hover {
        transition: 0.15s;
        background-color: transparent;
        color: @main-button-bgc;
    }

    @media (max-width: @medium-bp) {
        width: 320px;
        height: 68px;
    }

    @media (max-width: @small-bp) {
        width: 280px;
        height: 55px;
    }
}

