.slider {

    @itemMarginRight: 30px;
    @itemMarginRight1024: 40px;
    @itemCount: 3;
    @itemCount1024: 2;


    width: 100%;
    position: relative;

    &__view-area {
        display: flex;
        overflow: hidden;
    }

    &__item {

        flex: 0 0 calc((100% / @itemCount) - (@itemMarginRight * (@itemCount - 1)) / @itemCount);
        margin-right: @itemMarginRight;

        &:last-child {
            margin-right: 0;
        }

        @media (max-width: 1024px) {
            flex: 0 0 calc((100% / @itemCount1024) - (@itemMarginRight1024 * (@itemCount1024 - 1)) / @itemCount1024);
            margin-right: @itemMarginRight1024;
        }
    }

    &__image {
        width: 100%;
    }

    &__link {
        display: block;
        text-align: center;
        font-size: 20px;
        line-height: 54px;
        color: @slider-link-font-color;

        @media (max-width: 1024px) {
            font-size: 25px;
            font-weight: 500;
            line-height: 48px;
        }
    }

    &:hover {
        .slider__arrow {
            opacity: 1;
            transition: all 0.2s;
            border-radius: 50%;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
        }
    }

    &__arrow {
        position: absolute;
        width: 60px;
        height: 60px;
        top: 41.47%;
        transform: translateY(-50%);
        background: url(../img/slider/controls/arrow.png) center/cover no-repeat;
        cursor: pointer;
        opacity: 0.15;
        z-index: 99;

        &--left {
            left: -30px;
        }

        &--right {
            right: -30px;
            transform: rotate(180deg);
            transform-origin: 50% 25%;
        }


        @media (max-width: 1024px) {
            display: none;
        }
    }

    &__item-control {
        display: none;
        margin: 92px 0 0;

        @media (max-width: 1024px) {
            display: flex;
        }
    }
}

.item-control {
    justify-content: center;

    &__dot {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        border-right: 1px solid @slider-dot-color;
        background-color: @slider-dot-color;

        &:not(:last-child) {
            margin-right: 30px;
        }

        &:hover {
            background-color: @slider-dot-active;
        }

        &--active {
            border-right: 1px solid @slider-dot-active;
            background-color: @slider-dot-active;
        }
    }

    @media (max-width: 1024px) {
        display: flex;
    }
}